
/* quick reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* relevant styles */
.img__wrap {
  position: relative;
  height: 100%;
  width: 100%;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  font-size: 5em;
  padding-top: 50%;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}
.img__description2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  font-size: 5em;
  padding-top: 20%;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}


.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}
.img__wrap:hover .img__description2 {
  visibility: visible;
  opacity: 1;
}


/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  top:0;
  min-width: 100%; 
  min-height: 100%;
  max-height: 
  opacity: 0.70;
}

/* Add some content at the bottom of the video/page */
.content {
  bottom: 0;
  color: #000;
  width: 100%;

  height: 100%;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 30%;
  font-size: 24px;
  padding: 30px;
  border: none;
  color: #000;
  cursor: pointer;
  margin-top:65%;
}

#myBtn:hover {
  background: #fff;
  color: black;
}

#logoheader {
  position: fixed;
  background: #fff;
  width: 100%;
  z-index:999;

}
.bg_purple {
  background: #b887c4;
}
.bg_yellow {
  background: #e0da5f;
}
.bg_orange {
  background: #ffaf10;
}
.bg_blue {
  background: #70bbe8;
}


    @media screen and (max-width: 980px) {

      #myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  top:0;
  min-width: 80%; 
  min-height: 80%;
  opacity: 0.70;
}

/* Add some content at the bottom of the video/page */
.content {
  bottom: 0;
  color: #000;
  width: 100%;

  height: 100%;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 34%;
  font-size: 18px;
  padding: 20px;
  border: none;
  background: #b887c4;
  color: #000;
  cursor: pointer;
  margin-top:50%;
}

#myBtn:hover {
  background: #fff;
  color: black;
}

#logoheader {
  position: fixed;
  background: #fff;
  width: 100%;
  z-index:999;

}

    }


     @media screen and (max-width: 1120px) {

      #myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  top:0;
  min-width: 100%; 
  min-height: 55%;
  opacity: 0.70;
}

/* Add some content at the bottom of the video/page */
.content {
  bottom: 0;
  color: #000;
  width: 100%;

  height: 100%;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 40%;
  font-size: 18px;
  padding: 20px;
  border: none;
  background: #b887c4;
  color: #000;
  cursor: pointer;
  margin-top:50%;
}

#myBtn:hover {
  background: #fff;
  color: black;
}

#logoheader {
  position: fixed;
  background: #fff;
  width: 100%;
  z-index:999;

}

    }

     @media screen and (max-width: 980px) {

      #myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  top:0;
  min-width: 45%; 
  min-height: 45%;
  opacity: 0.70;
}

/* Add some content at the bottom of the video/page */
.content {
  bottom: 0;
  color: #000;
  width: 100%;

  height: 100%;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 40%;
  font-size: 18px;
  padding: 20px;
  border: none;
  background: #b887c4;
  color: #000;
  cursor: pointer;
  margin-top:40%;
}

#myBtn:hover {
  background: #fff;
  color: black;
}

#logoheader {
  position: fixed;
  background: #fff;
  width: 100%;
  z-index:999;

}

    }

